<div class="header-top">
    <div class="header-items">
      <mat-toolbar>
        <mat-toolbar-row>
          <span><img src="../../assets/logo.png" alt=""></span>
          <span class="example-spacer"></span>
          <span><p> Best list of countries with thier flags</p>
          </span>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <span></span>
          <span class="example-spacer second-line"></span>
          <span><p class="second-line-info"> On the whole internet!!</p>
          </span>
        </mat-toolbar-row>
        </mat-toolbar>
      </div>
  </div>