@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;900&display=swap');
/* blue background */
.header-top{
    height: 280px;
    background-color: #074985;
    width: 100%;
    margin: 0;
    top: 0;
    position: sticky;
  }
  
  /* top div for showing logo and info */
  .header-items{
    padding-top: 100px;
    margin: 0 200px;
    text-decoration: none;
  }
  
  .mat-toolbar{
    background-color: #074985;
  }
  .example-icon {
    padding: 0 14px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar span p{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 300;
  }
  .second-line-info{
    padding-top: 0px;
    margin: -55px 0;
  }