<div class="footer-box">
    <div class="footer-inner-box">
        <mat-toolbar>
            <mat-toolbar-row>
                    <span><img src="../../assets/logo.png" alt="Globe"></span>
                <span class="example-spacer"></span>
                <input type="text" value="Enter email">
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span></span>
                <span class="example-spacer second-line"></span>
                <span><button mat-flat-button color="primary" align="center">SUBSCRIBE</button></span>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <span>WorlPedia Inc</span>
            <span class="example-spacer"></span>
            <span>2023 | All rights reserved</span>
        </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>
