<div class="footer-box">
  <div class="footer-inner-box">
    <mat-toolbar>
      <mat-toolbar-row>
        <span><img src="../../assets/logo.png" alt="Globe" /></span>
        <span class="example-spacer"></span>
        <input type="text" value="Enter email" class="email-box" />
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span></span>
        <span class="example-spacer second-line"></span>
        <span
          ><button
            mat-flat-button
            color="primary"
            align="center"
            class="sub-btn"
          >
            <p>SUBSCRIBE</p>
          </button></span
        >
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span class="footer-text">WorlPedia Inc</span>
        <span class="example-spacer"></span>
        <span class="footer-text">2023 | All rights reserved</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
