<mat-card>
  <div class="globe-img">
    <img mat-card-image src="../../assets/globe.png" />
  </div>
  <mat-card-content>
    <mat-card-title align="center" class="first-line"
      >Country State and City
    </mat-card-title>
    <mat-card-subtitle align="center" class="second-line"
      >A Virtual Information Website</mat-card-subtitle
    >

    <section align="center">
      <div class="get-started-btn">
        <button mat-raised-button routerLink="/country-list">
          Get Started
        </button>
      </div>
      <!-- <github-button type="stargazers" size="large" namespace="Gowrish7" repo="Flaggy.git" class="github-button"></github-button> -->
    </section>
  </mat-card-content>
</mat-card>

<div class="home-page-contents">
  <div class="flex-container" fxLayout="row wrap">
    <div
      class="flex-item"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.gt-sm="33.33%"
    >
      <div class="content">
        <img mat-card-image src="../../assets/flexbox-1.png" />
        <h2 class="title-flexbox">We Are</h2>
        <p>Global explorers, fostering unity through worldwide connections.</p>
        <p>
          Simplifying country searches, revealing insights for cultural
          discovery.
        </p>
      </div>
    </div>
    <div
      class="flex-item"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.gt-sm="33.33%"
    >
      <div class="content">
        <img mat-card-image src="../../assets/download-2.png" />
        <h2 class="title-flexbox">Tools We Use</h2>
        <p>
          Angular (TypeScript) + Angular Material + REST APIs giving Intuitive,
          data-rich experience.
        </p>
        <p>HTML and CSS collaborate for a seamless, responsive interface.</p>
      </div>
    </div>
    <div
      class="flex-item"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.gt-sm="33.33%"
    >
      <div class="content">
        <img mat-card-image src="../../assets/flexbox-3.png" />
        <h2 class="title-flexbox">Our Goal</h2>
        <p>
          Craft an engaging, tech-driven exploration of the world's diversity.
        </p>
        <p>
          Simplify country searches with REST APIs, sparking cultural awareness.
        </p>
      </div>
    </div>
  </div>
</div>
